################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Techaagcompany.web/bin/Debug/net7.0
/Techaagcompany.web/obj/Debug/net7.0
/TechAgCompany.Entities/obj/Debug/net7.0
/TechAgCompany.Entities/bin/Debug/net7.0
/TechAgCompany.Repository/bin/Debug/net7.0
/TechAgCompany.UI/bin/Debug/net7.0
/TechAgCompany.UI/obj/Debug/net7.0
/TechAgCompany.Repository/obj/Debug/net7.0
/Techaagcompany.web/obj/Release/net7.0
/TechAgCompany.Entities/obj/Release/net7.0
/TechAgCompany.Repository/obj/Release/net7.0
/TechAgCompany.UI/obj/Release/net7.0
/TechAsgCompany.Conertbooking.Entities/obj/Debug/net7.0
/Concertbooking.repositry/obj/Debug/net7.0
/Concertbooking.repositry/bin/Debug/net7.0
/Concertbooking.repositry/obj
/ConcertBooking.WebHost/bin/Debug/net7.0
/ConcertBooking.WebHost/obj/Debug/net7.0
